@media screen and (max-width: 320px) {
    body {
        font-size:13px;
    }
    img{
    	height: 4rem;
    }
  
}

@media screen and (min-width: 321px) and (max-width:768px) {
    body {
        font-size:13px;
    }
    img{
    	height: 4rem;
    }
}




	html{
		font-size:16px;
	}


	body{
	
		
		background-image: url(../img/t3.png);
		-moz-background-size:100% 100%;
		-webkit-background-size:100% 100%;
		background-size:100% 100%;
		top: 0;
        bottom: 0;
        left: 0;
        right: 0;
	}
	.leftarrow{
		
		top:0.10rem;
		left:0.175rem;
	}
	.leftsign{
		
		margin-top:40px;
		text-align: center;
		

		/*background: url(../img/task3_07small.png) no-repeat;*/
		

	}
	
	.wrap{
		top: 0;
        bottom: 0;
        left: 0;
        right: 0;
		position: relative;
		height:100%;
		width:100%;
	
	}
	.i1{
		
		margin-top:50px;
		width:100%;

	}
	.s2{
		
		
		float:left;
		padding-left:30px;
	
	}

	.s3{
		
		
		float:right;
		padding-right:30px;
	}
	
	.content{
		

		
		color:white;
		font-size:1em;
		line-height: 1.5;
		font:"微软雅黑" bold 1px;
		padding:150px 30px 150px 30px;
			}
	.con{
		
		position: absolute; 
		left: 0; 
		top: 0; 
		right: 0; 
		bottom: 0;
    	margin: auto;
    	margin-top:5rem;

	}